@model Tubrbokart.Presentation.Websites.TurbokartInternal.Models.Viewmodels.DeleteModel
@{
}

<ul class="list-group mb-5">
    <li class="list-group-item pb-0">
        <h6>Id:</h6>
        <p>@Model.Booking.BookingId</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Grandprix:</h6>
        <p>@Model.Booking.Grandprix</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Navn:</h6>
        <p>@Model.Booking.Customer.Name</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Email:</h6>
        <p>@Model.Booking.Email</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Tlf. nummer:</h6>
        <p>@Model.Booking.Phonenumber</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Tid:</h6>
        <p>@Model.Booking.Date.ToString("dd/MM/yy hh:mm")</p>
    </li>
    <li class="list-group-item pb-0">
        <h6>Antal:</h6>
        <p>@Model.Booking.Amount</p>
    </li>
</ul>
<form method="post" class="form">
    <div class="mb-3">
        <label class="form-label">Begrundelse:</label>
        <textarea asp-for="Reason" style="min-height: 300px;" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-danger">Slet booking</button>
    </div>
</form>